body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: cornflowerblue;
  font-family: 'Press Start 2P';
}

h1{
  display: flex;
  justify-content: center;
  background: linear-gradient(0.25turn, blue, lightblue);
  padding:10px
}

section{
  display: flex;
  justify-content: center;
}

.sidebar{  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: rgb(25, 25, 25);
  width: 20%;
  padding:16px;
  margin: 0 0 8px 0;
}

#difficulty-menu{
  margin: 24px;
}

.themesSection{ 
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.theme{
  margin:10px;
}

.game-Area{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: grey;
  /* border: inset 20px grey; */
  width: 80%;
  margin: 0 0 0 8px;
}

.board-Header{  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  /* border: inset 20px lightgrey; */
}

#flag-Counter{
  display:flex;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: black;
  letter-spacing: 3px;
  text-indent: 3px;
  padding: 6px 0px;
  margin: 10px;
}
#reset-Button{
  background-color: lightgrey;
  border: outset white;
  /* border: inset -.05em -.05em dimgray, inset .05em .05em white; */
}

#timer{  
  display:flex;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: black;
  letter-spacing: 3px;
  text-indent: 3px;
  padding: 6px 0px;
  margin: 10px;
}

.board-Area{
  display: flex;
  justify-content: center;
  background-color: lightgrey;  
  /* border: inset 10px lightgrey; */
  padding: 20px;
}

.tile{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  width: 40px;
  height: 40px;
  border: solid 1px;
  border-color: grey;
  font-size: 32px;
  box-shadow: inset -.05em -.05em dimgray, inset .05em .05em white;
}

.revealed{  
  background-color: darkgray;
  box-shadow: none;
}
.revealedMine{
  background-color: red;
  box-shadow: none;
}

.flagged{  
  background-color: orange;
}

.one{
  color:blue;
}

.two{
  color:green;
}

.three{
  color: red;
}

.four{
  color: darkblue;
}

.five{
  color: darkred;
}

.six{
  color: darkcyan;
}
.seven{
  color: black;
}
.eight{
  color: dimgray;
}