body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: grey;
}

h1{
  display: flex;
  justify-content: center;
}

section{
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
}

.sidebar{  
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  width: 20%;
  margin: 0 0 8px 0;
}

.game-Area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: black;
  width: 80%;
  margin: 0 0 0 8px;
}

.board-Header{  
  display: flex;
  justify-content: space-around;
  background-color: rgb(43, 55, 75);
}

.board-Area{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.row{
  
}
.tile{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  width: 70px;
  height: 70px;
  border: solid 1px;
  border-color: grey;
  font-family: 'Press Start 2P';
  font-size: 32px;
}

.revealed{  
  background-color: darkgray;
}

.flagged{  
  background-color: orange;
}

.one{
  color:blue;
}

.two{
  color:green;
}

.three{
  color: red;
}

.four{
  color: darkblue;
}

.five{
  color: darkred;
}

.six{
  color: darkcyan;
}
.seven{
  color: black;
}
.eight{
  color: dimgray;
}